<div id="<%= dom_id drop %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Path:</strong>
    <%= drop.path %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= link_to drop.data.filename, drop.data if drop.data.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiry:</strong>
    <%= drop.expiry %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Remaining uses:</strong>
    <%= drop.remaining_uses %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this drop", drop, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this drop", edit_drop_path(drop), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
