<%= form_with(model: upload, class: "flex flex-col gap-4 py-4", url: upload_path) do |form| %>
  <% if upload.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      <ul>
        <% upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :data,
                 class:
                   "
                      flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300
                      border-dashed rounded-lg cursor-pointer border border-gray-800 background-white", 
        data: { controller: "drop" } do %>
    <div class="flex flex-col items-center justify-center pt-5 pb-6 text-gray-500">
      <%= inline_svg "upload.svg",
      class: "icon-upload w-8 h-8 mb-4",
      data: {
        drop_target: "uploadIcon",
      } %>
      <%= inline_svg "file.svg",
      class: "icon-file w-8 h-8 mb-4 hidden",
      data: {
        drop_target: "fileIcon",
      } %>

      <div data-drop-target="text" class="text-center">
        <p class="mb-2 text-sm "><span class="font-semibold">Click to upload</span>
          or drag and drop</p>
        <p class="text-xs">(MAX. 1MB)</p>
      </div>
    </div>

    <%= form.file_field :data, class: "hidden", data: { action: "change->drop#display" } %>
  <% end %>

  <div class="flex flex-col sm:flex-row align-center grow gap-4">
    <div class="w-full">
      <%= form.label :expiry %>
      <%= form.select(
        :expiry,
        [
          ["1 Minutes", 1.minute.from_now],
          ["10 Minutes", 10.minutes.from_now],
          ["30 Minutes", 30.minutes.from_now],
          ["60 Minutes", 60.minutes.from_now],
        ],
        {},
        class:
          "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
      ) %>
    </div>

    <div class="w-full">
      <%= form.label :remaining_uses, "Uses" %>
      <%= form.number_field :remaining_uses,
                        min: "1",
                        max: "5",
                        class:
                          "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex flex-row justify-center align-center w-full py-8">
    <%= form.submit "Upload",
                class:
                  "block text-white font-semibold outline-none bg-gray-800 w-full rounded-full grow px-12 py-3 text-sm focus:outline-none focus:ring sm:w-auto
                                                                                                                                  " %>
  </div>
<% end %>
