<section class="">
  <div class="mx-auto max-w-screen-xl py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-2xl font-extrabold sm:text-5xl">
        Simple Data Sharing.
        <strong class="font-extrabold text-red-600 sm:block mt-2">
          For Humans and Machines.
        </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed">
        Upload data and receive a secure link. After access or a set expiry
        date your data is destroyed forever. Made for humans and machines.
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a
          class="
            block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow
            hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto
          "
          href="<%= new_drop_path %>"
        >
          Get Started
        </a>

        <a
          class="
            block w-full rounded px-12 py-3 text-sm background-white font-medium
            text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring
            active:text-red-500 sm:w-auto
          "
          href="#how-it-works"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
<section id="how-it-works" class="container mx-auto max-w-screen-xl">

  <p class="text-lg font-extrabold text-gray-300 sm:text-2xl mb-2 upcase">How It Works</p>
  <h2 class="text-3xl font-extrabold text-red-600 sm:text-5xl mb-8">Share data in 3 simple steps</h2>

  <div class="grid grid-cols-1 gap-8 items-center justify-between md:grid-cols-2">

    <%= image_tag("upload.png", class: "w-full h-64 object-scale-down mb-4 rounded-lg") %>
    <div class="bg-white p-6 rounded-lg shadow-md">
      <p class="text-8xl font-extrabold text-gray-300 mb-4">01</p>
      <h3 class="text-3xl font-semibold text-red-600 mb-2">Drop your data</h3>
      <p class="text-gray-700 mb-4">Drop some data in our
        <%= link_to(
          "Web UI",
          new_drop_path,
          class:
            " text-red-600 no-underline hover:text-red-700 hover:underline active:bg-red-500",
        ) %>
        or upload data with your favorite command line client. In exchange,
        you'll receive a secure link. Here's how you do it with Curl.</p>
      <code
        class="
          text-sm sm:text-base inline-flex text-left items-center space-x-4 bg-gray-800
          text-white rounded-lg p-4 pl-6
        "
      >
        <span class="flex gap-4">
          <span class="shrink-0 text-gray-500">
            $
          </span>

          <span class="flex-1">
            curl -X POST -F "data=@yourfile.txt" https://datadeaddrop.com/drop
          </span>
        </span>

        <button>
          <svg
            class="
              shrink-0 h-5 w-5 transition text-gray-500 group-hover:text-white
            "
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path d="M8 2a1 1 0 000 2h2a1 1 0 100-2H8z"></path>
            <path
              d="M3 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v6h-4.586l1.293-1.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L10.414 13H15v3a2 2 0 01-2 2H5a2 2 0 01-2-2V5zM15 11h2a1 1 0 110 2h-2v-2z"
            >
            </path>
          </svg>
        </button>
      </code>
    </div>

    <%= image_tag(
      "download.png",
      class: "w-full h-64 object-scale-down mb-4 rounded-lg",
    ) %>
    <div class="bg-white p-6 rounded-lg shadow-md md:col-start-1 md:row-start-2 ">
      <p class="text-8xl font-extrabold text-gray-300 mb-4">02</p>
      <h3 class="text-3xl font-semibold text-red-600 mb-2">Grab your data</h3>
      <p class="text-gray-700 mb-4">Use your link to download your data, either via your browser or your
        favorite command line client.</p>

      <code
        class="
          text-sm sm:text-base inline-flex text-left items-center space-x-4 bg-gray-800
          text-white rounded-lg p-4 pl-6
        "
      >
        <span class="flex gap-4">
          <span class="shrink-0 text-gray-500">
            $
          </span>

          <span class="flex-1">
            curl -O https://datadeaddrop.com/grab/your-easy-to-remember-url
          </span>
        </span>

        <button>
          <svg
            class="
              shrink-0 h-5 w-5 transition text-gray-500 group-hover:text-white
            "
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path d="M8 2a1 1 0 000 2h2a1 1 0 100-2H8z"></path>
            <path
              d="M3 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v6h-4.586l1.293-1.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L10.414 13H15v3a2 2 0 01-2 2H5a2 2 0 01-2-2V5zM15 11h2a1 1 0 110 2h-2v-2z"
            >
            </path>
          </svg>
        </button>
      </code>
    </div>

    <%= image_tag("burn.png", class: "w-full h-64 object-scale-down mb-4 rounded-lg") %>
    <div class="bg-white p-6 rounded-lg shadow-md">
      <p class="text-8xl font-extrabold text-gray-300 mb-4">03</p>
      <h3 class="text-3xl font-semibold text-red-600 mb-2">Incinerate!</h3>
      <p class="text-gray-700 mb-4">After access, we destroy your data and keep no trace of it. If you
        don't grab your data after a set amount of time it will also be
        destroyed 🔥</p>

    </div>
  </div>
</section>

<section id="how-it-works" class="container mx-auto max-w-screen-xl py-32">
  <h2 class="text-3xl font-extrabold text-red-600 mb-8 sm:text-5xl">FAQ</h2>

  <details class="group [&_summary::-webkit-details-marker]:hidden" open>
    <summary
      class="
        flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50
        p-4 text-gray-900
      "
    >
      <h2 class="font-medium">Lorem ipsum dolor sit amet consectetur adipisicing?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic
      veritatis molestias culpa in, recusandae laboriosam neque aliquid libero
      nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio
      corporis earum similique!
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="
        flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50
        p-4 text-gray-900
      "
    >
      <h2 class="font-medium">Lorem ipsum dolor sit amet consectetur adipisicing?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic
      veritatis molestias culpa in, recusandae laboriosam neque aliquid libero
      nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio
      corporis earum similique!
    </p>
  </details>
</section>
